<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Taking</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link href="/stylesheets/output.css" rel="stylesheet"> -->
</head>

<body>
    <div class="main w-screen min-h-screen bg-zinc-900 text-white p-10">
        <a href="/" class="text-blue-500 inline-block mb-10">Go Back To Home</a>
        <form action="/edit" method="post">
            <input class="block px-2 py-3 outline-none w-1/4 rounded-md bg-zinc-800" type="text" placeholder="Previous name" name="privious" value="<%= filename %>">
            <input class="block px-2 py-3 outline-none w-1/4 rounded-md bg-zinc-800 mt-2" type="text" placeholder="New name" name="new">
            <input class="bg-yellow-600 px-2 py-1 mt-2 rounded-md" type="submit" value="Update Task">
        </form>
    </div>
    <script src="/javascripts/script.js"></script>
</body>

</html>